* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: #404040;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(243, 244, 246);

}

form {
    width: min(90%, 400px);
    margin: 2em auto;
    text-align: center;
    border-radius: .5em;
    padding: 2em;
    background-color: #fefefe;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
}

:root{
    --primary-color: dodgerblue;
}

h1 {
    color: var(--primary-color);
}

#textbox {
    text-align: center;
    width: 100%;
    padding: .75em;
    margin: 2em 0;
    border: 1px solid #ddd;
    font-size: 1.2em;
    border-radius: .5em;
}
#textbox:focus-within{
    outline: 3px solid var(--primary-color);
    outline-offset: 2px;
    border-color: #aaa;
}

label {
    font-size: 1.2em;
    font-weight: bold;
}

button {
    font-size: 1.2em;
    background-color: red;
    border: none;
    cursor: pointer;
    color: white;
    padding: .5em 2em;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    filter: brightness(80%);
}

#result {
    font-size: 1.5em;
    margin-top: 20px;
}